@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-xs
  }
  button:not(.headless) {
    @apply btn
  }
  table:not(.headless) {
    @apply table table-zebra
  }
  a:not(.headless) {
    @apply link link-hover
  }
  progress:not(.headless) {
    @apply progress
  }
  select:not(.headless) {
    @apply select select-bordered
  }
  textarea:not(.headless) {
    @apply textarea textarea-bordered
  }
  input[type="checkbox"]:not(.headless) {
    @apply checkbox
  }
  input[type="radio"]:not(.headless) {
    @apply radio
  }
  input[type="range"]:not(.headless) {
    @apply range
  }
  input:not(:where([type="checkbox"], [type="radio"], [type="range"], .headless)){
    @apply input input-bordered
  }
  h1 { @apply text-3xl font-bold }
  h2 { @apply text-2xl font-bold }
  h3 { @apply text-xl }
  h4 { @apply text-base font-bold }
}


